.flowers {
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* רווח בין הפריטים */
    padding: 20px;
}
/* עיצוב כפתורי המעבר דפים */
.MuiPagination-root {
   
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 1200px) {
    .flowers {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 900px) {
    .flowers {
        grid-template-columns: 1fr;
    }
}
